{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Cadastro de Sede</h1>
<form method="POST">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <select class="form-select" id="tipo" name="tipo" required>
            <option value="Matriz">Matriz</option>
            <option value="Filial">Filial</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock %}
