{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Cadastro de Setor</h1>
<form method="POST">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
        <label for="sede" class="form-label">Sede</label>
        <select class="form-select" id="sede" name="sede" required>
            {% for sede in sedes %}
                <option value="{{ sede.id }}">{{ sede.nome }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock %}
